asgiref==3.11.1
beautifulsoup4==4.14.3
Django==4.2.30
django-bootstrap-v5==1.0.11
django-tables2==3.0.0
joblib==1.5.3
narwhals==2.20.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
plotly==6.7.0
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.1
