{% extends 'base.html' %}
{% load static %}

{% block title %}Página 6{% endblock %}

{% block content %}
    <div class="container mt-3">
        <p class="h2">Página 6 - Listagem de Pessoas</p>
        <p>Localização: bdpratico\exemplo01\templates\pagina6.html</p>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Nome</th>
                            <th>eMail</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for regs in pessoas %}
                            <tr {% if regs.ativo %}style="font-weight: bold;"{% endif %}>
                                <td>{{ regs.nome }}</td>
                                <td>{{ regs.email }}</td>
                                <td>{{ regs.fone }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{% url 'index_alias' %}" class="btn btn-primary">Voltar ao Início</a>
    </div>
{% endblock %}